<!-- 
            <div class="row">
                <div class="span12">
                    <table class="redis-state">
                        <tr>
                            <td>Redis State :</td>
                            <td><span class="label label-success"><i class="icon-ok"></i> Connect</span></td>
                        </tr>
                         <tr>
                            <td >Redis Broker :</td>
                            <td><span class="label label-info">127.0.0.1:6379</span></td>
                        </tr>
                         <tr>
                            <td >Key Bind :</td>
                            <td><span class="label label-info">godns:hosts</span></td>
                        </tr>
                    </table>
                </div>

            </div> -->

            <hr>

            <div class="row">
                <div class="span12">
                    <p><button id="create-record" class="btn btn-primary"><i class="icon-plus "></i> ADD</button></p>
                </div>

                <div class="span12">
                    <table class="table table-striped table-bordered table-hover dns-record">
                        <thead>
                            <tr class="success">
                                <th>Domain</th>
                                <th>IP</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="record-add">
                        </tbody>
                        <tbody id="record-list">
        
                            {{range $k,$v:=.DNS}}
                            <tr class="entry">
                                <td>{{$k}}</td>
                                <td>{{$v}}</td>
                                <td class="action">
                                    <button id="edit-record" class="btn btn-info btn-small">
                                        <i class="icon-edit"></i> Edit
                                    </button>
                                    <button id="del-record" class="btn btn-danger btn-small">
                                        <i class="icon-remove"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>

            </div>
         
