body {
	background-color: #f2f2f2;
}

table.redis-state > tbody > tr > td {
		width: 60%;
		height: 30px;
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size: 18px;	 
	}

table.hosts-record{
	font-size: large;
}

table >tbody#record-list >tr > td.action{
	width: 20%;
}
