.row-header {
	font-size: 4em;
	background-color: #1C2533;
	height: 150px;
	text-align: center;

}

table.redis-state > tbody > tr > td {
		width: 60%;
		height: 35px;
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size: 17px;	 
	}
